<section class="page-header contactus_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Wire Harness</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li><a href="#">Tapes</a></li>
                <li>Wire Harness</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<section class="contact_us section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="contact_form gray-bg">
                    <table id="t01" cell-padding="0" cell-spacing="0">
                        <tr bgcolor="#FBAE62">
                            <td align="center">
                                <font color="black"><b>S.No.</b></font>
                            </td>
                            <td align="center">
                                <font color="black"><b>Description</b></font>
                            </td>
                            <td align="center">
                                <font color="black"><b>Part Number</b></font>
                            </td>
                        </tr>
                        <tr><td align="center">1</td><td>PVC Tape (Electrical insulating tape available in multiple colors for ease of identification)</td><td>NO. 21</td></tr>
                        <tr><td align="center">2</td><td>PVC Tape (Electrical insulating tape available in multiple colors for ease of identification)</td><td>NO. 223S</td></tr>
                        <tr><td align="center">3</td><td>Glass Cloth Tape (Good anchoring for heavy gauge wires)</td><td>P-212</td></tr>
                        <tr><td align="center">4</td><td>Glass Cloth Tape (Good anchoring for heavy gauge wires)</td><td>P-212HD</td></tr>
                        <tr><td align="center">5</td><td>Glass Cloth Tape (Good anchoring for heavy gauge wires)</td><td>P-213LW</td></tr>
                        <tr><td align="center">6</td><td>Kapton® Polyimide Tape (Works well in extreme temperatures and is solvent resistant)</td><td>P-221</td></tr>
                        <tr><td align="center">7</td><td>Kapton® Polyimide Tape (Works well in extreme temperatures and is solvent resistant)</td><td>P-222</td></tr>
                        <tr><td align="center">8</td><td>Kapton® Polyimide Tape (Works well in extreme temperatures and is solvent resistant)</td><td>P-223</td></tr>
                        <tr><td align="center">9</td><td>Kapton® Polyimide Tape (Works well in extreme temperatures and is solvent resistant)</td><td>P-224</td></tr>
                        <tr><td align="center">10</td><td>PTFE Tape (High dielectric strength, and low friction)</td><td>P-421</td></tr>
                        <tr><td align="center">11</td><td>PTFE Tape (High dielectric strength, and low friction)</td><td>P-422</td></tr>
                        <tr><td align="center">12</td><td>PTFE Tape (High dielectric strength, and low friction)</td><td>P-423</td></tr>
                        <tr><td align="center">13</td><td>PTFE Tape (High dielectric strength, and low friction)</td><td>P-430</td></tr>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div class="contact_form white-bg" style="border-color: orange;border-style: solid;">
                    <img src="images/products/nittotapes/SPV-224PR.jpg" width="100" height="100">
                    <img src="images/products/nittotapes/p-11.jpg" width="100" height="100">
                    <img src="images/products/nittotapes/p-430.jpg" width="100" height="100">
                    <img src="images/products/3MScotch-WeldFuelResistantCoatingEC-776.jpg" width="100" height="100">
                    <img src="images/products/3MScotch-WeldStructuralAdhesiveFilmAF15.jpg" width="100" height="100">
                    <img src="images/products/3MScotch-WeldStructuralAdhesiveFilmAF555.jpg" width="100" height="100">
                </div>
            </div>
        </div>
    </div>
</section>







