<main role="main" class="mt-3">
    <link rel="stylesheet" href="~/Content/default.css">

    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 bg-yellow p-4">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-8 col-lg-8 p-lg-3 p-md-3">
                            <h5 class="Poppins-SemiBold">ABOUT US</h5>

                            <p class="p-lg-5 p-md-5 font-14">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                                used in laying out print, graphic or web designs. The passage is
                                et Malorum for use in a type specimen book. Lorem ipsum, or
                                lipsum as it is sometimes known, is dummy text used in laying out
                                print, graphic or web designs. times known, is dummy text used
                                in laying out print, graphic or web designs. The passage is et
                                Malorum for use in a type specimen book.
                            </p>
                        </div>
                        <div class="col col-12 col-lg-4 col-md-4">
                            <div class="row p-lg-2 p-md-2">
                                <div class="col-6 p-0 d-flex align-content-end flex-wrap justify-content-end">
                                    <h6 class="Poppins-SemiBold m-0 w-100 text-right">Azfar Ashary</h6>

                                    <p class="font-14 w-100 text-right">
                                        Managing Partner
                                    </p>
                                </div>
                                <div class="col-6">
                                    <img src="~/images/no-image.png" alt="No Image" height="100%" width="100%" class="img-fluid">
                                </div>
                            </div>
                            <div class="row p-lg-2 p-md-2">
                                <div class="col-6 p-0 d-flex align-content-end flex-wrap justify-content-end">
                                    <h6 class="Poppins-SemiBold m-0 w-100 text-right">Azfar Ashary</h6>

                                    <p class="font-14 w-100 text-right">
                                        Managing Partner
                                    </p>
                                </div>
                                <div class="col-6">
                                    <img src="~/images/no-image.png" alt="No Image" height="100%" width="100%" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 bg-light-gray p-0 mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-lg-6 col-md-6 p-0">
                            <img src="~/images/our-history.jpg" alt="Our History" class="img-fluid w-100">
                        </div>
                        <div class="col col-12 col-md-6 col-lg-6 p-5">
                            <h5 class="Poppins-SemiBold">Our History</h5>
                            <hr>
                            <p class="font-14">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                                used in laying out print, graphic or web designs. The passage is
                                et Malorum for use in a type specimen book. Lorem ipsum, or
                                lipsum as it is sometimes known, is dummy text used in laying out
                                print, graphic or web designs. times known, is dummy text used
                                in laying out print, graphic or web designs. The passage is et
                                Malorum for use in a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-light-gray p-0 mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-6 col-lg-6 p-5 order-lg-1 order-md-1 order-2">
                            <h5 class="Poppins-SemiBold">Our Warehouses</h5>
                            <hr>
                            <p class="font-14">
                                Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                                used in laying out print, graphic or web designs. The passage is
                                et Malorum for use in a type specimen book.
                            </p>

                            <p class="mb-2"><i class="fa fa-map-marker color-yellow font-30" aria-hidden="true"></i> <span class="font-14">Location 1</span></p>

                            <p class="mb-2"><i class="fa fa-map-marker color-yellow font-30" aria-hidden="true"></i> <span class="font-14">Location 2</span></p>

                            <p class="mb-2"><i class="fa fa-map-marker color-yellow font-30" aria-hidden="true"></i> <span class="font-14">Location 3</span></p>
                        </div>
                        <div class="col col-12 col-lg-6 col-md-6 p-0  order-lg-2 order-md-2 order-1">
                            <img src="~/images/our-wearhouses.jpg" alt="Our History" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-light-gray p-0 mt-4 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-lg-8 col-md-8 p-0">
                            <img src="~/images/Our-Prescence.png" alt="Our History" class="img-fluid w-100">
                        </div>
                        <div class="col col-12 col-md-4 col-lg-4 p-5">
                            <h5 class="Poppins-SemiBold">Our Prescence</h5>
                            <hr>
                            <p class="font-14">
                                Lorem ipsum, or lipsum as it is
                                sometimes known, is dummy text
                                used in laying out print, graphic or
                                web designs. The passage is et
                                Malorum for use in a type specimen
                                book. Lorem ipsum, or lipsum as it is
                                sometimes known, is dummy text
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

