/*=========================
	12. About-Us-Page
================================*/
.aboutus_page {
    background-image: url(../../images/1920x250.jpg);
}

.about_img {
    background: #000 none repeat scroll 0 0;
    border-radius: 100%;
    overflow: hidden;
}

    .about_img img {
        width: 100%;
        border-radius: 50%;
        transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
    }

    .about_img:hover img {
        opacity: 0.5;
    }

.about_content {
    padding: 20px 0;
}

    .about_content h3 {
        margin-top: 25px;
    }
.about .content {
    padding: 30px 0;
}

    .about .content h3 {
        font-weight: 700;
        font-size: 34px;
        color: #213b52;
    }

    .about .content p {
        margin-bottom: 0;
    }

    .about .content .icon-box {
        margin-top: 25px;
    }

        .about .content .icon-box h4 {
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0 10px 60px;
            color: #213b52;
        }

            .about .content .icon-box h4 a {
                color: #213b52;
                transition: 0.3s;
            }

                .about .content .icon-box h4 a:hover {
                    color: #fdc134;
                }

        .about .content .icon-box i {
            font-size: 48px;
            float: left;
            color: #fdc134;
        }

        .about .content .icon-box p {
            font-size: 15px;
            color: #848484;
            margin-left: 60px;
        }

.about .image {
    background: url("../../images/about.jpg") center center no-repeat;
    background-size: cover;
    min-height: 400px;
}



.vision .content {
    padding: 30px 0;
}

    .vision .content h3 {
        font-weight: 700;
        font-size: 34px;
        color: #213b52;
    }

    .vision .content p {
        margin-bottom: 0;
    }

    .vision .content .icon-box {
        margin-top: 25px;
    }

        .vision .content .icon-box h4 {
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0 10px 60px;
            color: #213b52;
        }

            .vision .content .icon-box h4 a {
                color: #213b52;
                transition: 0.3s;
            }

                .vision .content .icon-box h4 a:hover {
                    color: #fdc134;
                }

        .vision .content .icon-box i {
            font-size: 48px;
            float: left;
            color: #fdc134;
        }

        .vision .content .icon-box p {
            font-size: 15px;
            color: #848484;
            margin-left: 60px;
        }

.vision .image {
    background: url("../../images/vision.jpg") center center no-repeat;
    background-size: cover;
    min-height: 400px;
}

.mission .content {
    padding: 30px 0;
}

    .mission .content h3 {
        font-weight: 700;
        font-size: 34px;
        color: #213b52;
    }

    .mission .content p {
        margin-bottom: 0;
    }

    .mission .content .icon-box {
        margin-top: 25px;
    }

        .mission .content .icon-box h4 {
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0 10px 60px;
            color: #213b52;
        }

            .mission .content .icon-box h4 a {
                color: #213b52;
                transition: 0.3s;
            }

                .mission .content .icon-box h4 a:hover {
                    color: #fdc134;
                }

        .mission .content .icon-box i {
            font-size: 48px;
            float: left;
            color: #fdc134;
        }

        .mission .content .icon-box p {
            font-size: 15px;
            color: #848484;
            margin-left: 60px;
        }

.mission .image {
    background: url("../../images/mission.jpg") center center no-repeat;
    background-size: cover;
    min-height: 400px;
}
a {
    color: inherit;
}

    a:hover {
        color: inherit;
        text-decoration: none;
    }