<main role="main" class="mt-3">
    <link rel="stylesheet" href="~/Content/default.css">

    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index","Category",new {Params="TURBINE OIL"})">AEROSHELL TURBINE OIL</a>
                        </li>
                        <li class="breadcrumb-item active">AERO SHELL TURBINE OIL 560</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-3 col-lg-3 pl-0 pl-md-0 pr-0 pr-md-3 ">
                            <div class="bg-light-gray mb-3 p-3">
                                <p class="font-14 mb-0">OTHER PRODUCTS BY </p>
                                <img src="~/images/3854-aeroshell-logo.png" class="img-fluid" alt="Aeroshell" title="Aeroshell">
                            </div>
                            <div class="bg-light-gray mb-5">
                                <div class="container p-0">
                                    <div id="accordion" class="accordion">
                                        <div class="card mb-0">
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse8">
                                                <a class="card-title">
                                                    AEROSHELL FLUIDS AN SPECIALITIES
                                                </a>
                                            </div>

                                            <div id="collapse8" class="card-body collapse p-0" data-parent="#accordion">
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-5ma">AERO SHELL FLUID 5MA</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-compound-07">AERO SHELL COMPOUND 07</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-2xn">AERO SHELL FLUID 2XN</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-3">AERO SHELL FLUID 3</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-calibrated-fluid-2-us">AERO SHELL CALIBRATED FLUID 2 (US)</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid--12">AERO SHELL FLUID  12</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-31">AERO SHELL FLUID 31</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-41eu">AERO SHELL FLUID 41(EU)</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-61na">AERO SHELL FLUID 61(NA)</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-602">AERO SHELL FLUID 602</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-s8350">AERO SHELL FLUID S.8350</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-landing-gear-fluid">AERO SHELL LANDING GEAR FLUID</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell--smoke-oil">AERO SHELL  Smoke Oil</a>
                                                </p>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse12">
                                                <a class="card-title">
                                                    AERO SHELL GREASE
                                                </a>
                                            </div>

                                            <div id="collapse12" class="card-body collapse p-0" data-parent="#accordion">
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-grease/product/aero-shell-grease6">AERO SHELL GREASE6</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-grease/product/aero-shell-grease-7">AERO SHELL GREASE 7</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-grease/product/aero-shell-grease-14">AERO SHELL GREASE 14</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-grease/product/aero-shell-grease-22">AERO SHELL GREASE 22</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-grease/product/aero-shell-grease-33">AERO SHELL GREASE 33</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-grease/product/aero-shell-grease-64">AERO SHELL GREASE 64</a>
                                                </p>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse13">
                                                <a class="card-title">
                                                    AERO SHELL PISTON ENGINE OIL
                                                </a>
                                            </div>

                                            <div id="collapse13" class="card-body collapse p-0" data-parent="#accordion">
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-splus4">AERO SHELL OIL SPlus4</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-w100pl">AERO SHELL OIL W100Pl</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-100-o-117">AERO SHELL OIL 100</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-w-15w50">AERO SHELL OIL W 15W50</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-w100">AERO SHELL OIL W100</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-d-ultra">AERO SHELL OIL D Ultra</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-w80">AERO SHELL OIL W80</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil/product/aero-shell-oil-w120">AERO SHELL OIL W120</a>
                                                </p>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse14">
                                                <a class="card-title">
                                                    AEROSHELL TURBINE OIL
                                                </a>
                                            </div>

                                            <div id="collapse14" class="card-body collapse p-0" data-parent="#accordion">
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-3">AERO SHELL TURBINE OIL 3</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-560">AERO SHELL TURBINE OIL 560</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-2eu">AERO SHELL TURBINE OIL 2(EU)</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-2">AERO SHELL TURBINE OIL 2</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-308">AERO SHELL TURBINE OIL 308</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-390">AERO SHELL TURBINE OIL 390</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-500">AERO SHELL TURBINE OIL 500</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-555">AERO SHELL TURBINE OIL 555</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-560">AERO SHELL TURBINE OIL 560</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-750">AERO SHELL TURBINE OIL 750</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-ascender">AERO SHELL TURBINE OIL Ascender</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 pr-lg-0 pr-md-0">
                            <div class="pl-lg-4 pl-md-4">
                                <h5 class="Poppins-Bold">AERO SHELL TURBINE OIL 560</h5>
                                <hr class="border-dark mb-0 mt-0">
                                <p class="font-14">
                                    Part Number: O-154 | Brand: <a href="http://aviopro.ideabox.online/brand/aeroshell">Aeroshell</a>
                                </p>

                                <div class="row row-eq-height">
                                    <div class="col-12 col-md-5 mb-4 mb-md-0">
                                        <img src="~/images/upload/FeaturedImages/1936-AERO SHELL TURBINE OIL 560 ( 1 X 55USG).jpg" title="AERO SHELL TURBINE OIL 560" alt="AERO SHELL TURBINE OIL 560" class="w-100">
                                    </div>
                                    <div class="col-12 col-md-7 p-md-5 d-flex align-items-center">
                                    </div>
                                </div>


                                <div class="mt-md-5">
                                    <h6 class="Poppins-Bold">Available Units</h6>
                                    <hr class="border-dark mb-0 mt-0">

                                    <div class="form-group row mt-md-3 mb-md-3 mb-0">
                                        <label class="col-sm-3 col-form-label">Pack Size - 1x55USG</label>

                                        <div class="col-sm-9">
                                            <a id="btn_add" href="@Url.Action("AddCart", "Category", new { PartNumber="O-154", Brand="Aeroshell", Name="AERO SHELL TURBINE OIL 560", Units="Pack Size - 1x55USG" })" class="btn btn-info btn-sm" style="margin-left:60px">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <form method="post">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            AERO SHELL TURBINE OIL 560
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Unit Name</label>
                                                            <input type="text" class="form-control" name="unit_id" disabled="" value="Pack Size - 1x55USG" data-unit-id="43">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input type="text" class="form-control" name="full_name" placeholder="Enter Full Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="form-control" name="mobile_number" placeholder="Enter Mobile Number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea type="text" class="form-control" name="address" placeholder="Enter Address"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                    <div class="form-group row mt-md-3 mb-md-3 mb-0">
                                        <label class="col-sm-3 col-form-label">JSD  - OX-27</label>

                                        <div class="col-sm-9">
                                            <a id="btn_add" href="@Url.Action("AddCart", "Category", new { PartNumber="O-154", Brand="Aeroshell", Name="AERO SHELL TURBINE OIL 560", Units="JSD  - OX-27" })" class="btn btn-info btn-sm" style="margin-left:60px">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <form method="post">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            AERO SHELL TURBINE OIL 560
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Unit Name</label>
                                                            <input type="text" class="form-control" name="unit_id" disabled="" value="JSD  - OX-27" data-unit-id="64">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input type="text" class="form-control" name="full_name" placeholder="Enter Full Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="form-control" name="mobile_number" placeholder="Enter Mobile Number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea type="text" class="form-control" name="address" placeholder="Enter Address"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="mt-md-5">
                                    <h6 class="Poppins-Bold"> US specifications</h6>
                                    <hr class="border-dark mb-2 mt-0">
                                    <ul>
                                        <li>MIL-PRF-23699G Grade HTS SAE AS5780B Grade SPC</li>
                                    </ul>
                                </div>
                                <div class="mt-md-5">
                                    <h6 class="Poppins-Bold"> British specifications</h6>
                                    <hr class="border-dark mb-2 mt-0">
                                    <ul>
                                        <li>DEF STAN 91-100*</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
