<main role="main" class="mt-3">
    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="http://aviopro.ideabox.online/">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="http://aviopro.ideabox.online/category/lubricants-penetrants">Lubricants/Penetrants</a>
                        </li>
                        <li class="breadcrumb-item active">Dry Film PTFE Lubricant</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-3 col-lg-3 pl-0 pl-md-0 pr-0 pr-md-3 ">
                            <div class="bg-light-gray mb-3 p-3">
                                <p class="font-14 mb-0">OTHER PRODUCTS BY </p>
                                <img src="~/images/4325-lps-logo.png" class="img-fluid" alt="LPS" title="LPS">
                            </div>
                            <div class="bg-light-gray mb-5">
                                <div class="container p-0">
                                    <div id="accordion" class="accordion">
                                        <div class="card mb-0">
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse9">
                                                <a class="card-title">
                                                    Lubricants/Penetrants
                                                </a>
                                            </div>

                                            <div id="collapse9" class="card-body collapse p-0" data-parent="#accordion">
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/lubricants-penetrants/product/chainmate-chain--wire-rope-lubricant">ChainMate Chain &amp; Wire Rope Lubricant</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/lubricants-penetrants/product/dry-film-ptfe-lubricant">Dry Film PTFE Lubricant</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/lubricants-penetrants/product/lps-1-greaseless-lubricant">LPS 1 Greaseless Lubricant</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/lubricants-penetrants/product/lps-2-heavy-duty-lubricant">LPS 2 Heavy-Duty Lubricant</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/lubricants-penetrants/product/lst-penetrant">LST Penetrant</a>
                                                </p>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse10">
                                                <a class="card-title">
                                                    Corrosion Inhibitors
                                                </a>
                                            </div>

                                            <div id="collapse10" class="card-body collapse p-0" data-parent="#accordion">
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/corrosion-inhibitors/product/lps-3-premier-rust-inhibitor">LPS 3 Premier Rust Inhibitor</a>
                                                </p>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse11">
                                                <a class="card-title">
                                                    Electronic Cleaners
                                                </a>
                                            </div>

                                            <div id="collapse11" class="card-body collapse p-0" data-parent="#accordion">
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/cfc-free-electro-contact-cleaner">CFC Free Electro Contact Cleaner</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/electro-140-contact-cleaner">Electro 140° Contact Cleaner</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/electro-contact-cleaner">Electro Contact Cleaner</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/noflash-electro-contact-cleaner">NoFlash Electro Contact Cleaner</a>
                                                </p>
                                                <p class="font-14 mb-0 border-bottom border-dark p-3">
                                                    <a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/noflash-20-electro-contact-cleaner">NoFlash 2.0 Electro Contact Cleaner</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 pr-lg-0 pr-md-0">
                            <div class="pl-lg-4 pl-md-4">
                                <h5 class="Poppins-Bold">Dry Film PTFE Lubricant</h5>
                                <hr class="border-dark mb-0 mt-0">
                                <p class="font-14">
                                    Part Number: 0001 | Brand: <a href="http://aviopro.ideabox.online/brand/lps">LPS</a>
                                </p>

                                <div class="row row-eq-height">
                                    <div class="col-12 col-md-5 mb-4 mb-md-0">
                                        <img src="~/images/no-image.png" title="Dry Film PTFE Lubricant" alt="Dry Film PTFE Lubricant" class="w-100">
                                    </div>
                                    <div class="col-12 col-md-7 p-md-5 d-flex align-items-center">
                                        <p>A dry film lubricant with strong bonding PTFE for severe temperature and pressure applications. Excellent mold release.</p>
                                    </div>
                                </div>


                                <div class="mt-md-5">
                                    <h6 class="Poppins-Bold">Available Units</h6>
                                    <hr class="border-dark mb-0 mt-0">

                                    <div class="form-group row mt-md-3 mb-md-3 mb-0">
                                        <label class="col-sm-3 col-form-label">12 OZ</label>

                                        <div class="col-sm-9">
                                            <a id="btn_add" href="@Url.Action("AddCart", "Category", new { PartNumber="0001", Brand="LPS", Name="Dry Film PTFE Lubricant", Units="12 OZ" })" class="btn btn-info btn-sm" style="margin-left:60px">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <form method="post">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Dry Film PTFE Lubricant
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Unit Name</label>
                                                            <input type="text" class="form-control" name="unit_id" disabled="" value="12 OZ" data-unit-id="25">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input type="text" class="form-control" name="full_name" placeholder="Enter Full Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="form-control" name="mobile_number" placeholder="Enter Mobile Number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea type="text" class="form-control" name="address" placeholder="Enter Address"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                    <div class="form-group row mt-md-3 mb-md-3 mb-0">
                                        <label class="col-sm-3 col-form-label">20 OZ</label>

                                        <div class="col-sm-9">
                                            <a id="btn_add" href="@Url.Action("AddCart", "Category", new { PartNumber="0001", Brand="LPS", Name="Dry Film PTFE Lubricant", Units="20 OZ" })" class="btn btn-info btn-sm" style="margin-left:60px">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <form method="post">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Dry Film PTFE Lubricant
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Unit Name</label>
                                                            <input type="text" class="form-control" name="unit_id" disabled="" value="20 OZ" data-unit-id="22">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input type="text" class="form-control" name="full_name" placeholder="Enter Full Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="form-control" name="mobile_number" placeholder="Enter Mobile Number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea type="text" class="form-control" name="address" placeholder="Enter Address"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                    <div class="form-group row mt-md-3 mb-md-3 mb-0">
                                        <label class="col-sm-3 col-form-label">1USG</label>

                                        <div class="col-sm-9">
                                            <a id="btn_add" href="@Url.Action("AddCart", "Category", new { PartNumber="0001", Brand="LPS", Name="Dry Film PTFE Lubricant", Units="1USG" })" class="btn btn-info btn-sm" style="margin-left:60px">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <form method="post">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Dry Film PTFE Lubricant
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Unit Name</label>
                                                            <input type="text" class="form-control" name="unit_id" disabled="" value="1USG" data-unit-id="23">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input type="text" class="form-control" name="full_name" placeholder="Enter Full Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="form-control" name="mobile_number" placeholder="Enter Mobile Number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea type="text" class="form-control" name="address" placeholder="Enter Address"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                    <div class="form-group row mt-md-3 mb-md-3 mb-0">
                                        <label class="col-sm-3 col-form-label"> 5 USG</label>

                                        <div class="col-sm-9">
                                            <a id="btn_add" href="@Url.Action("AddCart", "Category", new { PartNumber="0001", Brand="LPS", Name="Dry Film PTFE Lubricant", Units="5 USG" })" class="btn btn-info btn-sm" style="margin-left:60px">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <form method="post">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Dry Film PTFE Lubricant
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Unit Name</label>
                                                            <input type="text" class="form-control" name="unit_id" disabled="" value=" 5 USG" data-unit-id="3">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input type="text" class="form-control" name="full_name" placeholder="Enter Full Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="form-control" name="mobile_number" placeholder="Enter Mobile Number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea type="text" class="form-control" name="address" placeholder="Enter Address"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="mt-md-5">
                                    <h6 class="Poppins-Bold"> SPECIFICATION</h6>
                                    <hr class="border-dark mb-2 mt-0">
                                    <ul>
                                        <li>Learjet M35A/M36B, M55 Aeronica Maintenance Manuals (M3735-01-98-0042)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
